body{
    background-color: #bebebe;
}
#nav{
    height: 50px;
    border: 1px solid gray;
}
#nav .nav-menu{
    display: block;
    width: 950px;
    height: 50px;
    margin: 0 auto;
}
/*直接子元素，不选择孙元素*/
#nav .nav-menu > li{
        height: 50px;
        float: left;
        border: 1px solid black;
        list-style: none;
        width:auto;
        border-radius: 10px;
}
#nav .nav-menu li a{
    width: 132px;
    color: #FFFFFF;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    font-size: 24px;
    display: block;
    text-align: center;
    border-radius: 10px;
    
}
#nav .nav-menu li .three-d{
    position: relative;
    perspective: 200px;
}
#nav .nav-menu li .three-d-box{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transform-style: preserve-3d; 


}
#nav .nav-menu li .three-d-box .font , #nav .nav-menu li .three-d-box .back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #47C7A1;
    border-radius: 10px;
    

}
#nav .nav-menu li .three-d-box .font{
     
}
#nav .nav-menu li .three-d-box .back{
    background-color: #349AD4;
    transform:  rotateX(-90deg);
}
#nav .nav-menu li .three-d:hover .three-d-box{
    transform: rotateX(90deg);
    transition: all 0.4s linear;
}